@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="https://ibb.co/5699m1F"><img src="https://i.ibb.co/g377NrV/150015770-padded-logo.png" class="img-fluid" alt="OMF-logo" border="0" ></a><br /><a target='_blank' href='https://imgbb.com/'></a><br />
    <p class="lead">Where we, respectfully, share ideas and knowledge with an open mind!</p>
</div>
