@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<div class="text-center">
    <a href="https://ibb.co/vmVZNdr"><img src="https://i.ibb.co/1K78CXp/Black-logo-no-background.png" alt="Black-logo-no-background" border="0" class="img-fluid"></a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <br /><br />
    <p class="lead">Where we, respectfully, share ideas and knowledge with an open mind!</p>
</div>
